html {
    font-family: "Roboto", serif;
    background-color: rgb(248, 242, 222);
    text-align: center;
}

span {
    color: rgb(255, 255, 255);
    font-size: 4rem;
}

button {
    font-size: 1rem;
    margin: 20px;
}

.title {
    font-size: 2rem;
}

.parentContainer {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.counterContainer {
    background-color: rgb(79, 133, 250);
    width: 50%;
    border: 3px solid black;
    border-radius: 10px;
    padding: 50px;
    font-size: 2rem;
}

#subtract {
    background-color: rgb(226, 33, 33);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
}

#reset {
    background-color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
}

#add {
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
}